<!DOCTYPE html>

<html>
  <head>
    <title>My Profile</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <style>
      .hidden {
          display: none;
      }
    </style>
  </head>

  <body>
    <div id="error" class="hidden">Something went wrong!</div>

    <h1 id="header" data-id="{{ business_id }}">My Profile</h1>

    <div id = "data"></div>

    <div>
      <a href="/profile/business/{{ business_id }}/edit">
        <button>Update</button>
      </a>
      <a href="/">
        <button class="delete-button" data-id="{{ business_id }}">Delete</button>
      </a>
      <a href="/business/search">
        <button>Search</button>
      </a>
    </div>

    <script>
      function createDiv(description, data) {
        var div = document.createElement("div")
        div.innerHTML = description + ": " + data
        return div;
      }
      function appendData(results) {
        var divs = [
          createDiv("name", results.name),
          createDiv("description", results.description),
          createDiv("email", results.email),
          createDiv("address", results.address),
          createDiv("skills", results.skills),
          createDiv("goals", results.goals),
          createDiv("website", results.website),
          createDiv("zip code", results.zip_code),
        ]

        var container = document.getElementById("data");
        for (var i = 0; i < divs.length; i++) {
          container.appendChild(divs[i])
        }
      }
      
      window.onload = function(e) {
        var header = document.getElementById("header")
        var businessId = header.getAttribute("data-id")
        fetch('/profile/business/' + businessId)
          .then(function(response){
            console.log(response);
            return response.json();
          }) 
          .then(function(data) {
            appendData(data);
            console.log(data);
            document.getElementById("error").className = 'hidden';
          })
          .catch(function(e) {
            console.log(e)
            document.getElementById("error").className = '';
          });              
      }
      
      const button = document.querySelector('.delete-button');
      button.onclick = function(e) {
        const businessId = e.target.dataset['id'];
        fetch('/profile/business/' + businessId, {
          method: 'DELETE'
        })
        .then(function() {
          document.getElementById("error").className = 'hidden';
        })
        .catch(function(e) {
          console.log(e)
          document.getElementById("error").className = '';
        })
      }
    </script>
  </body>
</html>