<!DOCTYPE html>

<html>
  <head>
    <title>My Profile</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>

    <button onclick="window.location.href='find_students.html';">Find Students</button>

    <h1 id="header">My Profile</h1>

    <p>Name</p>
    <p>Description</p>
    <p>Website</p>
    <p>What we're looking for</p>
    <p>Interests</p>
    <p>Contact info</p>

    <div>
      <button>Update</button>
      <button>Delete</button>
    </div>

    <script>

    </script>
  </body>
</html>