<!DOCTYPE html>

<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
    </head>
    <body>
        <div class="home-buttons" style="margin-top:20%">
            <a href="/signup_business">
                <button class="normal-button" id="login-button">New User</button>
            </a>
            <a href="/login_business">
                <button class="normal-button" id="login-button">Returning User</button>
            </a>
        </div>
    </body>
</html>