<!DOCTYPE html>

<html>
  <head>
    <title>[Our business title]</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>

    <div>
      <button onclick="window.location.href='about.html';">
        About Us
      </button>
  
      <button onclick="window.location.href='contact.html';">
        Contact Us
      </button>
    </div>

    <h1 id="header">Business Name</h1>

    <div>
      <a href="/dashboard/student/1/display">
        <button>
          Students
        </button>
      </a>
  
      <button>
        Businesses
      </button>
    </div>

    <p>Here is some information about our business! :)</p>

    <script>

    </script>
  </body>
</html>