<!DOCTYPE html>

<html>

  <head>
    <title>[Our business title]</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>
    <section id="home-page">

      <h1 id="header" style="margin-top: 20%;">ComCafe</h1>

      <div class="home-buttons">
        <a href="/student/login">
          <button class="home-button">
            Students
          </button>
        </a>
        <a href="/business/login">
          <button class="home-button">
            Businesses
          </button>
        </a>
      </div>
  </section>

  <section id="explanation">
    <div id="float-child">
      <div class="about">
        <img class="icon" src="icon_1.PNG">
      </div>
      <div class="about">
        <h2>2</h2>
        <p>Connect with small businesses in your community</p>
      </div>
      <div class="about">
        <img class="icon" src="icon_3.PNG">
      </div>
    </div>
    <div id="float-child">
      <div class="about">
        <img class="icon" src="info_1.PNG">
      </div>
      <div class="about">
        <img class="icon" src="icon_2.PNG">
      </div>
      <div class="about">
        <h2>3</h2>
        <p>Get lifechanging experience for your resume</p>
      </div>
    </div>
  </section>

  <section id="contact-info">
    <h3 style="color:aliceblue">Contact Us</h3>
    <p style="color:aliceblue">email@email.com</p>
    <p style="color:aliceblue">000-000-0000</p>
  </section>
  </body>
</html>