<!DOCTYPE html>

<html>
  <head>
    <title>My Profile</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/>
    <style>
      .hidden {
          display: none;
      }
    </style>
  </head>

  <body>
    <div id="error" class="hidden">Something went wrong!</div>
    
    <div class="top-bar" style="margin-top:2%">
      <a href="/dashboard/display">
        <button class="normal-button">Back to dashboard</button>
      </a>
      <a href="/profile/student/edit">
        <button class="normal-button">Update</button>
      </a>
      <a href="/logout">
        <button class="delete-button" id="normal-button" data-id="{{ student_id }}">Delete</button>
      </a>
    </div>

    <h1 id="header" data-id="{{ student_id }}"></h1>
    <div id = "data"></div>

    <div class="profile-header">
      <h1 id="name" style="text-align: left; margin-left: 20px"></h1>
    </div>

    <div class="float-container">
      <div id="float-child", style="width:25%;">
        <div id="about" class="widget"></div>
      </div>
      <div id="float-child">
        <div id="qualifications" class="widget"></div>
        <div id="interests" class="widget"></div>
      </div>
    </div>


    <script>
      function createDiv(data) {
        var div = document.createElement("div")
        div.innerHTML = data
        return div;
      }
      function createH1(data) {
        var header = document.createElement("H1")
        header.innerHTML = data
        return header;
      }
      function appendData(results) {
        var divs = [
          createH1(results.name),
          createDiv(results.zip_code),
          createDiv(results.email),
          createDiv("Major: " + results.interests),
          createDiv(results.qualifications)
        ]

        var container1 = document.getElementById("name");
        var container2 = document.getElementById("about");
        var container3 = document.getElementById("qualifications");
        var container4 = document.getElementById("interests");
        container1.appendChild(divs[0]);
        container2.appendChild(divs[1]);
        container2.appendChild(divs[2]);
        container3.appendChild(divs[3]);
        container4.appendChild(divs[4]);
      }
      
      window.onload = function(e) {
        var header = document.getElementById("header")
        var studentId = header.getAttribute("data-id")
        fetch('/profile/student', )
          .then(function(response){
            return response.json();
          }) 
          .then(function(data) {
            appendData(data);
            console.log(data);
            document.getElementById("error").className = 'hidden';
          })
          .catch(function(e) {
            console.log(e)
            document.getElementById("error").className = '';
          });              
      }
      
      const button = document.querySelector('.delete-button');
      button.onclick = function(e) {
        const studentId = e.target.dataset['id'];
        fetch('/profile/student', {
          method: 'DELETE'
        })
        .then(function() {
          document.getElementById("error").className = 'hidden';
        })
        .catch(function(e) {
          console.log(e)
          document.getElementById("error").className = '';
        })
      }
    </script>
  </body>
</html>