<html>
    <head>
        <title>New Student Form</title>
        <h1>Set your profile</h1>
        <style>
            .hidden {
                display: none;
            }
            html {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <datalist id="majors">
            <option value="Agriculture">
            <option value="Animal Sciences">
            <option value="Food Science">
            <option value="Forestry">
            <option value="Natural Resources Management">
            <option value="Fine Arts">
            <option value="Drama and Theater Arts">
            <option value="Music">
            <option value="Visual and Performing Arts">
            <option value="Graphic Design">
            <option value="Film Video and Photographic Arts">
            <option value="Environmental Science">
            <option value="Biology">
            <option value="Biochemical Sciences">
            <option value="Botany">
            <option value="Molecular Biology">
            <option value="Ecology">
            <option value="Genetics">
            <option value="Microbiology">
            <option value="Pharmacology">
            <option value="Physiology">
            <option value="Zoology">
            <option value="Neuroscience">
            <option value="Cognitive Science">
            <option value="Business">
            <option value="Accounting">
            <option value="Actuarial Science">
            <option value="Business Management">
            <option value="Marketing">
            <option value="Finance">
            <option value="Human Resources and Personnel Management">
            <option value="International Business">
            <option value="Hospitality Management">
            <option value="Communications">
            <option value="Journalism">
            <option value="Advertising">
            <option value="Computer Science">
            <option value="Information Sciences">
            <option value="Mathematics">
            <option value="Education">
            <option value="Architecture">
            <option value="General Engineering">
            <option value="Aerospace Engineering">
            <option value="Biological Engineering">
            <option value="Biomedical Engineering">
            <option value="Chemical Engineering">
            <option value="Civil Engineering">
            <option value="Computer Engineering">
            <option value="Electrical Engineering">
            <option value="Materials Science">
            <option value="Mechanical Engineering">
            <option value="Nutrition Sciences">
            <option value="Health and Medical Administrative Services">
            <option value="Nursing">
            <option value="Treatment Therapy Professions">
            <option value="Public Health">
            <option value="Linguistics">
            <option value="Foreign Language Studies">
            <option value="English Language and Literature">
            <option value="Liberal Arts">
            <option value="Humanities">
            <option value="Philosophy and Religious Studies">
            <option value="Theology">
            <option value="Anthropology and Archaeology">
            <option value="Art History">
            <option value="History">
            <option value="Culinary Arts">
            <option value="Pre-Law and Legal Studies">
            <option value="Public Policy">
            <option value="Physical Sciences">
            <option value="Astronomy and Astrophysics">
            <option value="Meteorology">
            <option value="Chemistry">
            <option value="Physics">
            <option value="Psychology">
            <option value="Social Work">
            <option value="Economics">
            <option value="Political Science and Government">
            <option value="Sociology">
            <option value="Miscellaneous Social Sciences">
            <option value="Other">
        </datalist>
        <div id="authid" class="hidden" data-id="{{userinfo['user_id']}}"></div>
        <div id="error" class="hidden">Something went wrong!</div>
        <div style="text-align: center; margin:auto; width:50%; background-color: whitesmoke; border-radius: 8px; padding:3%;">
            <form id="form">
                <h3>
                    <input type="text" id="name" placeholder="Name" required/>
                </h3>
                <h3>
                    <input type="text" id="email" placeholder="Email" required/>
                </h3>
                <h3>
                    <input type="text" id="zip_code" placeholder="Zip Code"/>
                </h3>
                <h3>
                    <input type="text" id="interests" list="majors" placeholder="Major"/>
                </h3>
                <h3>
                    <input type="text" id="qualifications" placeholder="Tell us about your skills/qualifications!"/>
                </h3>
            </form>
            <a href='/dashboard/display'>
                <button class="submit" id="normal-button">Submit</button>
            </a>
        </div>
        
    </body>
    <script>
        const button = document.querySelector('.submit');
        var authDiv = document.getElementById("authid")
        var authID = authDiv.getAttribute("data-id")
            button.onclick = function(e) {
                fetch('/profile/student/create', {
                    method: 'POST',
                    body: JSON.stringify({
                        'name': document.getElementById('name').value,
                        'email': document.getElementById('email').value,
                        'zip_code': document.getElementById('zip_code').value,
                        'interests': document.getElementById('interests').value,
                        'qualifications': document.getElementById('qualifications').value,
                        'auth_id': authID
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function(response){
                    return response.text();
                }) 
                .then(function(jsonResponse) {
                    console.log(jsonResponse)
                    document.getElementById("error").className = 'hidden';
                })
                .catch(function(e) {
                    console.log(e)
                    document.getElementById("error").className = '';
                })
            }
    </script>
</html>