<!DOCTYPE html>

<html>
  <head>
    <title>Find Businesses</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>

  <body>

    <div>

      <form>
        <label for="keyword"> Keyword:</label>
        <input type="text" id="keyword">
        <label for="zipcode"> Zipcode:</label>
        <input type="text" id="zipcode">
        <select id = "interest">
          <option value= "0">Select Interest:</option>
          <option value = "1">Interest 1</option>
          <option value = "2">Interest 2</option>
          <option value = "3">Interest 3</option>
        </select>
        <input type="submit" value="Submit">
      </form>
    </div>

    <div>
      <ul>
        <li>
          Results
        </li>
      </ul>
    </div>

    <script>

    </script>
  </body>
</html>