<html>
  <head>
    <title>Find Students</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <style>
      .hidden {
          display: none;
      }
    </style>
  </head>

  <body>
    <div class="top-bar">
      <a href="/profile/business/display">
        <button>Back to profile</button>
      </a>
    </div>
    <h2 id="header" style="margin-top: 3%;">Find Students</h2>
    <div style="width:70%;margin:auto;">
      <form id="form">
        <div class="search-form-input">
          <input type="text" id="keywords" required>
        </div>
        <div class="search-form-input">
          <input type="text" id="zipcode" placeholder="Zip Code">
        </div>
        <div class="search-form-input">
          <input type="text" id="skill" list="majors" placeholder="Major">
        </div>
        <div class="search-form-input">
          <button class="submit">Submit</button>
        </div>
      </form>
    </div>
    <div id="error" class="hidden">Something went wrong!</div>
    <div style="margin:auto; margin-top:10%;text-align:center">
      <div id = "data"></div>
    </div>

    <script>
      function appendData(results) {
        var container = document.getElementById("data");
        while (container.firstChild) {
          container.removeChild(container.lastChild);
        }
        var data = results.data
        for (var i = 0; i < results.count; i++) {
          var id = data[i].id
          var link = document.createElement("a");
          link.setAttribute('href', '/profile/student/' + id + '/display');
          link.innerHTML = "name: " + data[i].name;
          var divContainer = document.createElement("div")
          divContainer.setAttribute("id", "result")
          divContainer.appendChild(link)
          container.appendChild(divContainer);
        }
      }
      const button = document.querySelector('.submit');
      button.onclick = function(e) {
        fetch('/business/search', {
          method: 'POST',
          body: JSON.stringify({
            'search_term': document.getElementById('keywords').value
          }),
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(function(response){
          return response.json();
        })
        .then(function(data) {
          appendData(data);
          console.log(data);
          document.getElementById("error").className = 'hidden';
        })
        .catch(function(e) {
          console.log(e)
          document.getElementById("error").className = '';
        });
      }
    </script>
  </body>
</html>