<!DOCTYPE html>

<html>
  <head>
    <title>My Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
    <style>
      #header{
        text-align: center
      }

      .float-container {
        padding: 20px;
      }

      .float-child {
        width: 45%;
        float: left;
        padding: 20px;
      }  

      #map {
        width: 490px;
        height: 400px;
      }

      .top-bar {
        text-align:right;
      }
      .hidden {
                display: none;
      }
    </style>
  </head>

  <body>
    <div id="error" class="hidden">Something went wrong!</div>

    <div class="top-bar">
      <a href="/student/search">
        <button class="normal-button">
          Search
        </button>
      </a>
      
      <a href='/profile/student/display'>
        <button class="normal-button">
          My Profile
        </button>
      </a>

      <a href='/logout'>
        <button class="normal-button">
          Sign Out
        </button>
      </a>
    </div>

    <h1 id="welcome" data-id="{{ student_id }}">Welcome, {{ student_name }}</h1>

    <div class="float-container">

      <div id="float-child">
        <div class="widget" id="jobs_applied">
          <h2>Businesses You've Contacted</h2>
          <h3>Add here to keep track:</h3>
          <input style="width:90%" type="text" id="businesses"/>
          <button class="submit">Submit</button>
          <div id="business-names"></div>
        </div>
        <div class="widget" id="jobs_recommended">
          <h2>Recommended Businesses</h2>
          <div id="recommended"></div>
        </div>
      </div>
      
      <div id="float-child">
        <div class="widget">
          <h2 id="header">Businesses Near You</h2>
          <div id="map"></div>
        </div>
      </div>
    </div>
    <script>
      function initMap(){
        //initialize map
          map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 14
        });
        infoWindow = new google.maps.InfoWindow;

        //request user's location
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        }

        //Function to add markers and content to the popup
        function addMarker(prop) {
          var marker = new google.maps.Marker({
           position: prop.coordinates, 
           map:map, 
          });
          if(prop.iconImage) { marker.setIcon(prop.iconImage); }
          if(prop.content) { 
          var information = new google.maps.InfoWindow({
          content: prop.content
        });
      
        marker.addListener('click', function() {
        information.open(map, marker);
            });
          }
        }

        //Adding an example marker with the function
        addMarker({
          coordinates:{lat: 41.825590, lng: -87.848230},
          content:'<h4>Brookfield Public Library</h4>'
        });
      }
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBH7pSV9JwtPJkrpUQ2nqmI9PBNrVMv0Kk&callback=initMap">
  </script>
  <script>
    function createDiv(data) {
        var div = document.createElement("div")
        div.innerHTML = data
        return div;
      }
      
    function appendData(results){
      var container = document.getElementById("recommended");
      var business_names = results.recommended;
      console.log("count: " + results.recommended_count)
      for (var i = 0; i < results.recommended_count; i++) {
        var name = createDiv(business_names[i]);
        console.log("name: " + business_names[i])
        container.appendChild(name);
      }
    }
    window.onload = function(e) {
      var header = document.getElementById("welcome")
      var studentId = header.getAttribute("data-id")
      fetch('/dashboard', {
                method: "GET",
            })
            .then(function(response){
                return response.json();
            }) 
            .then(function(jsonResponse) {
                appendData(jsonResponse)
                console.log(jsonResponse);
                document.getElementById("error").className = 'hidden';
            })
            .catch(function(e) {
              console.log(e)
              document.getElementById("error").className = '';
            });
      }
    const button = document.querySelector('.submit');
    function createDiv(data) {
        var div = document.createElement("div")
        div.innerHTML = data
        return div;
      }
    button.onclick = function(e) {
      var entry = document.getElementById("businesses").value
      var container = document.getElementById("business_names")
      var div = createDiv(entry)
      container.appendChild(div)
    }
    /*
    const button = document.querySelector('.submit');
    button.onclick = function(e) {
      fetch('/dashboard/add-business', {
        method: 'PATCH',
        body: JSON.stringify({
          'business_name': document.getElementById('businesses').value
        }),
        headers: {
          'Content-Type': 'application/json'
        }
      })
      .then(function(response){
        return response.text();
      }) 
      .then(function(jsonResponse) {
        console.log(jsonResponse);
        document.getElementById("error").className = 'hidden';
      })
      .catch(function(e) {
        console.log(e)
        document.getElementById("error").className = '';
      })
    }
    */
  </script>
  </body>
</html>