#header{
  text-align: center
}

.float-container {
  padding: 20px;
}

.float-child {
  width: 45%;
  float: left;
  padding: 20px;
}  

#map {
  width: 600px;
  height: 400px;
}

.top-bar {
  text-align:right;
}