<html>
    <head>
        <title>Student Form</title>
        <h1>Update Profile</h1>
        <link rel="stylesheet" type="text/css" href="style.css">
        <style>
            .hidden {
                display: none;
            }
            html {
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div style="text-align: center; margin:auto; margin-bottom: 10%; margin-top: 3%; width:50%; background-color: whitesmoke; border-radius: 8px; padding:3%;">
            <form id="form">
                <h3>
                    <input type="text" id="name" placeholder="Name"/>
                </h3>
                <h3>
                    <input type="text" id="email" placeholder="Email"/>
                </h3>
                <h3>
                    <input type="text" id="zip_code" placeholder="Zip Code"/>
                </h3>
                <h3>
                    <input type="text" id="interests" placeholder="Major"/>
                </h3>
                <h3>
                    <input type="text" id="qualifications" placeholder="Tell us about your skills/qualifications!"/>
                </h3>
            </form>
            <a href='/profile/student/display'>
                <button class="submit" id="normal-button" data-id="{{ student_id }}">Update</button>
            </a>
            <a href='/profile/student/display'>
                <button> class="normal-button"Back to profile</button>
            </a>
        </div>
    </body>
    <script>
        const button = document.querySelector('.submit');
            button.onclick = function(e) {
                const updateId = e.target.dataset['id']
                fetch('/profile/student/edit', {
                    method: 'PATCH',
                    body: JSON.stringify({
                        'name': document.getElementById('name').value,
                        'email': document.getElementById('email').value,
                        'zip_code': document.getElementById('zip_code').value,
                        'interests': document.getElementById('interests').value,
                        'qualifications': document.getElementById('qualifications').value
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(function(response){
                    return response.text();
                }) 
                .then(function(jsonResponse) {
                    document.getElementById("error").className = 'hidden';
                })
                .catch(function(e) {
                    console.log(e)
                    document.getElementById("error").className = '';
                })
            }
    </script>
</html>